@import '../../media-mixin.scss';
@import '../../variables';

@media screen and (max-width: 1024px) {
  .carousel {
    &__carousel-item {
      flex-direction: column;
      padding: 0 0.25rem;
    }
    &__item-content {
      width: 100%;
      margin: 0;
    }
    .arrow {
      display: none;
    }
  }
}

.root {
  width: 100%;
  min-height: 100vh;
}


//TODO: if we want to prevent image drag
// img {
//   user-select: none;
//   pointer-events: none;
// }