@import '../../media-mixin.scss';
@import '../../variables';

@media screen and (max-width: 1024px) {
  .carousel {
    &__carousel-item {
      flex-direction: column;
      padding: 0 0.25rem;
    }
    &__item-content {
      width: 100%;
      margin: 0;
    }
    .arrow {
      display: none;
    }
  }
}

// Video block
.video {
  width: 100%;
  position: relative;
  &__banner-img-mobile {
    width: 100%;
    height: 100%;
    @include _768 {
      display: none;
    }
  }
  &__banner-img {
    display: none;
    width: 100%;
    height: 100%;
    @include _768 {
      padding-left: 21px;
      display: block;
    }

    @include _1024 {
      padding-left: 41px;
    }
  }
  &__main-content {
    width: 100%;
    padding: 20px 30px 54px 30px;
    background-color: black;
    margin-top: -5px;
    @include _768 {
      background-color: unset;
      margin-top: unset;
      padding: unset;
      position: absolute;
      right: 8.4vw;
      bottom: 7.8vw;
      max-width: 30%;
    }
  }

  &__title {
    width: 100%;
    @include _768 {
    }
  }
  &__pre-fight {
    font-size: 4.8vw;
    color: #dcbe56;
    @include _768 {
      font-size: 1.7vw;
    }
  }
  &__sub-content {
    padding-top: 8px;
    display: flex;
    align-items: center;
    @include _768 {
      line-height: 2.3vw;
      padding-top: 17px;
    }
  }
  &__logo {
    height: 6.7vw;
    padding-right: 11px;
    @include _768 {
      height: 2.3vw;
    }
  }
  &__coming-soon {
    font-size: 9.5vw;
    color: white;
    @include _768 {
      font-size: 3vw;
    }
  }
}

//What is an nft block
.whatIs {
  position: relative;
  color: white;
  text-align: center;
  padding-bottom: 37px;
  &__boarder {
    display: none;
  }
  &__mobile-boarder {
    position: absolute;
    top: -30px;
    left: 0;
    z-index: 1;
    width: 100%;
  }
  &__title {
    font-size: 8.3vw;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 45px;
    position: relative;
    z-index: 2;
  }
  &__main-info {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 3.5vw;
    color: #dcbe56;
    font-weight: normal;
    position: relative;
    z-index: 2;
  }
  @include _768 {
    padding-bottom: 78px;
    &__boarder {
      display: block;
      position: absolute;
      top: -15%;
      left: 0;
      z-index: 1;
      width: 100%;
    }
    &__mobile-boarder {
      display: none;
    }
    &__text-container {
      width: 68%;
      margin: 0 auto;
    }
    &__title {
      font-size: 3.3vw;
      padding-top: 64px;
    }
    &__main-info {
      padding-top: 10px;
      font-size: 1.2vw;
    }
  }

  @include _1024 {
    &__boarder {
      top: -17%;
    }
  }

  @include _1440 {
    &__boarder {
      top: -22%;
    }
  }
}

.root {
  width: 100%;
  min-height: 100vh;
}

.footer {
  width: 100%;
  height: 190px;

  @include _768 {
    height: 450px;
  }

  &__banner {
    width: 100%;
    height: 100%;
    position: relative;

    @include _768 {
      height: 100%;
    }
  }

  &__banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__inner {
    position: absolute;
    width: 100%;
    height: 4.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    bottom: 30px;

    > :first-child {
      justify-content: flex-end;
    }

    > :last-child {
      justify-content: flex-start;
    }

    @include _768 {
      bottom: 50px;
      padding: 0;
    }
  }

  &__img-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 33%;

    @include _768 {
      width: 33%;
    }
  }

  &__text-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 20%;

    @include _768 {
      width: 20%;
      margin-bottom: 0;
    }
  }

  &__logo1 {
    margin-right: 35px;

    @include _768 {
      margin-right: 3rem;
    }
  }

  &__logo2 {
    width: 68px;
    height: 68px;

    @include _768 {
      width: 103px;
      height: 103px;
    }
  }

  &__logo3 {
    width: 108px;
    // margin-left: 5px;

    @include _768 {
      width: 9vw;
    }
  }
}


//TODO: if we want to prevent image drag
// img {
//   user-select: none;
//   pointer-events: none;
// }