@import '../../media-mixin.scss';
@import '../../variables';

.terms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $brand-white;
  padding: 1.25rem 0;

  @include _1024 {
    padding: 6rem 0 4.375rem;
  }

  &__title {
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-family: 'DAZNTrim-Bold';
    margin-bottom: 2.5rem;

    @include _1024 {
      font-size: 2.813rem;
      line-height: 2.813rem;
    }
  }

  &__btn-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__CTA {
    @include CTA;
    color: $brand-yellow;
    background-color: $brand-black;

    &:hover {
      color: $brand-yellow;
      text-decoration: none;
    }

    &:first-child {
      margin-right: 3.125rem;
    }
  }
}