@import '../../media-mixin.scss';
@import '../../variables';

//What is an nft block
.whatIs {
  position: relative;
  color: white;
  text-align: center;
  padding-bottom: 37px;
  &__boarder {
    display: none;
  }
  &__mobile-boarder {
    position: absolute;
    top: -30px;
    left: 0;
    z-index: 1;
    width: 100%;
  }
  &__title {
    font-size: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 45px;
    position: relative;
    z-index: 2;
    font-family: 'DAZNTrim-Bold';
  }
  &__main-info {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: normal;
    position: relative;
    z-index: 2;
    font-family: 'DAZNTrim-Light';
  }
  @include _768 {
    padding-bottom: 78px;
    &__boarder {
      display: block;
      position: absolute;
      top: -15%;
      left: 0;
      z-index: 1;
      width: 100%;
    }
    &__mobile-boarder {
      display: none;
    }
    &__text-container {
      width: 60%;
      margin: 0 auto;
    }
    &__title {
      font-size: 3rem;
      padding-top: 106px;
    }
    &__main-info {
      padding-top: 15px;
      font-size: 1.25rem;
    }
  }

  @include _1024 {
    &__boarder {
      top: -17%;
    }
  }

  @include _1440 {
    &__text-container {
      width: 40%;
      margin: 0 auto;
    }
    &__title {
      font-size: 2.3vw;
    }
    &__main-info {
      font-size: 1vw;
    }
    &__boarder {
      top: -22%;
    }
  }
}
