@import '../../media-mixin.scss';
@import '../../variables';

.own-it {
  background-image: url('../../assets/img/black-bg.png');
  color: $brand-white;
  background-size: cover;
  padding: 7rem 10% 8rem;
  margin-top: -7rem;
  
  @include _1024 {
    padding-left: 15%;
    padding-right: 15%;
  }

  &__item-wrapper {
    padding: 1rem 0 4rem 0;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    img {
      width: 70%;
      max-width: 300px;
    }

    @include _768 {
      flex-direction: row;

      img {
        width: 100%;
        max-width: 365px;
      }
    }
  }

  &__item-content {
    text-align: center;
    font-family: 'DAZNTrim-Light';
    
    @include _768 {
      margin-left: 6%;
    }

    h2 {
      text-transform: uppercase;
      padding-bottom: 2.25rem;
      font-family: 'DAZNTrim-Bold';
      font-size: 1.75rem;
      margin-top: 1.5rem;

      @include _768 {
        font-size: 2.75rem;
      }
    }

    p {
      line-height: 1.75rem;
      margin-bottom: 0;
      font-size: 1.25rem;
    }
  }

  &__sub-caption-section {
    text-transform: uppercase;
    text-align: center;
    color: $brand-yellow;
    font-family: 'DAZNTrim-Bold';
    margin-top: 3rem;
    
    @include _768 {
      margin-top: 4.25rem;
    }
  }
}
