@import '../../media-mixin.scss';
@import '../../variables';

.cards-root {
  text-transform: uppercase;
  font-weight: 800;
  position: relative;
  padding: 0 10% ;
  margin-bottom: 10rem;

  @include _768 {
    margin-bottom: 6rem;
  }
}
