@import '../../media-mixin.scss';
@import '../../variables';

.featured {
  background-image: url('../../assets/img/featured-bg.png');
  background-size: cover;
  color: $brand-white;
  display: flex;
  justify-content: center;
  padding: 6rem 2.5rem 0;
  width: 100%;

  &__inner-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include _1024 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 85%;
    }

    @include _1440 {
      width: 60%;
    }
  }

  &__img-wrapper {
    width: 40%;

    img {
      width: 100%;
    }
  }

  &__content {
    width: 60%;
    max-width: 700px;
  }

  &__sub-title {
    text-align: center;
    font-family: 'DAZNTrim-Light';
    font-size: 1.25rem;
    letter-spacing: 3px;
    line-height: 1.688rem;
    margin: 0 0 1.375rem 0;
  }

  &__title {
    text-align: center;
    font-family: 'DAZNTrim-Bold';
    font-size: 2.813rem;
    line-height: 2.813rem;
    margin: 0 0 2.5rem 0;
  }

  &__type {
    display: flex;
    justify-content: center;
    margin-bottom: 3.5rem;
  }

  &__rarity {
    font-family: 'DAZNTrim-Bold';
    font-size: 1.875rem;
    letter-spacing: 1px;
    line-height: 2.813rem;
    margin-right: 3rem;
    margin-bottom: 0;
  }

  &__edition {
    font-family: 'DAZNTrim-Bold';
    color: $brand-white;
    font-size: 1.625rem;
    letter-spacing: 1px;
    line-height: 2.813rem;
    margin: 0;
    width: min-content;
    text-align: center;

    &--legendary {
      background-image: linear-gradient(-54deg, #7d7d7d 0%, #1c1c1c 67%, #3d3d3d 99%);
      width: 16.25rem;
    }
  }

  &__details {
    font-family: 'DAZNTrim-Bold';
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.625rem;
  }

  &__price-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    position: relative;
    padding-right: 30px;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 2px;
      background-color: #fff;
      height: 100%;
    }
  }

  &__price-title {
    color: $brand-white;
    font-size: 1.25rem;
    letter-spacing: 3px;
    line-height: 1.688rem;
    text-transform: uppercase;
    margin: 0;
  }

  &__price-value {
    color: $brand-white;
    font-size: 5rem;
    line-height: 6.25rem;
    margin-bottom: 0;
  }

  &__price-sign {
    color: $brand-white;
    font-family: 'DAZNTrim-Light';
    font-size: 1.25rem;
    letter-spacing: 3px;
    line-height: 1.688rem;
    text-transform: uppercase;
    margin: 0;
  }

  &__countdown-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__countdown-title {
    color: $brand-white;
    font-size: 1.25rem;
    letter-spacing: 3px;
    line-height: 1.688rem;
    text-transform: uppercase;
    margin: 0;
  }

  &__time-section {
    display: flex;
  }

  &__time-value {
    color: $brand-white;
    font-size: 5rem;
    line-height: 6.25rem;
    margin: 0;
  }

  &__time-chunk {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 115px;
    position: relative;
    margin: 0;
    padding-left: 0;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 18px;
      width: 2px;
      background-color: #fff;
      height: 20px;
    }

    &:last-child {
      &:after {
        content: none;
        padding-left: 0;
      }
    }

    @include _768 {
      width: 20%;

      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 22px;
        width: 2px;
        background-color: #fff;
        height: 30px;
      }
    }

    @include _1024 {

      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 30px;
        width: 2px;
        background-color: $brand-white;
        height: 39px;
      }
    }

    @include _1440 {

      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 30px;
        width: 2px;
        background-color: $brand-white;
        height: 39px;
      }
    }
  }

  &__indicator {
    color: $brand-white;
    font-family: 'DAZNTrim-Light';
    font-size: 1.25rem;
    letter-spacing: 3px;
    line-height: 1.688rem;
    text-transform: uppercase;
    margin: 0;
  }

  &__CTA-wrap {
    display: flex;
    justify-content: center;
  }

  &__CTA {
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'DAZNTrim-Bold';
    border: none;
    outline: none;
    background: #fafe53;
    padding: 1rem;
    font-size: 1.563rem;
    letter-spacing: 1px;
  }
}
