@import '../../media-mixin.scss';
@import '../../variables';

.featured {
  background-image: url('../../assets/img/black-bg.png');
  background-size: cover;
  color: $brand-white;
  display: flex;
  justify-content: center;
  padding-top: 6rem;
  width: 100%;

  &__inner-wrapper {
    width: 60%;
    display: flex;
    justify-content: center;
  }

  &__img-wrapper {
    width: 40%;
  }

  &__content {
    width: 60%;
  }

  &__sub-title {
    text-align: center;
    font-family: 'DAZNTrim-Light';
    font-size: 1.25rem;
    letter-spacing: 3px;
    line-height: 1.688rem;
    margin: 0 0 1.375rem 0;
  }

  &__title {
    text-align: center;
    font-family: 'DAZNTrim-Bold';
    font-size: 2.813rem;
    line-height: 2.813rem;
    margin: 0 0 2.5rem 0;
  }

  &__type {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3.5rem;
  }

  &__rarity {
    font-family: 'DAZNTrim-Bold';
    font-size: 1.875rem;
    letter-spacing: 1px;
    line-height: 2.813rem;
  }

  &__edition {
    font-family: 'DAZNTrim-Bold';
    color: $brand-white;
    font-size: 1.625rem;
    letter-spacing: 1px;
    line-height: 2.813rem;
    //margin: 0 auto;
    width: min-content;
    text-align: center;

    &--legendary {
      background-image: linear-gradient(-54deg, #7d7d7d 0%, #1c1c1c 67%, #3d3d3d 99%);
      width: 16.25rem;
    }
  }

  &__details {
    font-family: 'DAZNTrim-Bold';
    display: flex;
    justify-content: space-between;
  }

  &__price-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__price-title {
    color: $brand-white;
    font-size: 1.25rem;
    letter-spacing: 3px;
    line-height: 1.688rem;
    text-transform: uppercase;
  }

  &__price-value {
    color: $brand-white;
    font-size: 5rem;
    line-height: 6.25rem;
    margin-bottom: 0;
  }

  &__price-sign {
    color: $brand-white;
    font-family: 'DAZNTrim-Light';
    font-size: 1.25rem;
    letter-spacing: 3px;
    line-height: 1.688rem;
    text-transform: uppercase;
  }

  &__countdown-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__countdown-title {
    color: $brand-white;
    font-size: 1.25rem;
    letter-spacing: 3px;
    line-height: 1.688rem;
    text-transform: uppercase;
  }

  &__time-section {
    display: flex;
  }

  &__time-value {
    color: $brand-white;
    font-size: 5rem;
    line-height: 6.25rem;
  }

  &__time-chunk {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 115px;
  }

  &__indicator {
    color: $brand-white;
    font-family: 'DAZNTrim-Light';
    font-size: 1.25rem;
    letter-spacing: 3px;
    line-height: 1.688rem;
    text-transform: uppercase;
  }

}
