@import '../../media-mixin.scss';
@import '../../variables';

.item {
  display: flex;
  //justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid $brand-white;
  overflow: hidden;
  padding: 1.25rem 0;

  @include _768 {
    width: 100%;
  }

  &__link {
    cursor: pointer;
  }

  &__name {
    width: 50%;

    h2,a {
      color: $brand-white;
      font-size: 30px;
      letter-spacing: 1px;
      line-height: 30px;
      font-family: 'DAZNTrim-Bold';
      text-transform: uppercase;
      :hover{
        color: $brand-yellow;
      }
    }
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 35%;

    p {
      color: $brand-white;
      font-size: 30px;
      letter-spacing: 1px;
      line-height: 55px;
      font-family: 'DAZNTrim-Bold';
      margin: 0;
    }
  }

  &__status {
    display: flex;
    justify-content: flex-end;
    width: 15%;
  }

  &__sign {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid $brand-yellow;
    background-color: transparent;

    &--redeemed {
      background-color: $brand-yellow;
    }
  }

  &__btn-wrapper {
    margin-right: 2rem;
  }

  &__btn {
    @include  CTA;
  }
}