@import '../../media-mixin.scss';
@import '../../variables';

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid $brand-white;
  overflow: hidden;
  padding: 1.25rem 0;

  @include _768 {
    width: 100%;
  }

  &__link {
    cursor: pointer;
  }

  &__name {

    h2,a {
      color: $brand-white;
      font-size: 30px;
      letter-spacing: 1px;
      line-height: 30px;
      font-family: 'DAZNTrim-Bold';
      text-transform: uppercase;
      :hover{
        color: $brand-yellow;
      }
    }
  }

  &__description {

    p {
      color: $brand-white;
      font-size: 30px;
      letter-spacing: 1px;
      line-height: 55px;
      font-family: 'DAZNTrim-Bold';
      margin: 0;
    }
  }

  &__btn {
    @include  CTA;
  }
}