@import '../../media-mixin.scss';
@import '../../variables';

.countdown-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;

  &__title {
    @include FeaturedNFT-Title;
  }
}