@import '../../media-mixin.scss';
@import '../../variables';

.header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__language {
    display: flex;
    justify-content: flex-end;
    padding: 13px 13px 16px;
  }

  &__language-list {
    position: relative;
    display: flex;
    margin: 0;
  }

  &__button {
    position: relative;
    font-family: 'DAZNTrim-Bold';
    cursor: pointer;
    color: $brand-white;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 20px;
  }

  .active {
    color: $brand-yellow;

    &::after {
      position: absolute;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background-color: $brand-yellow;
    }
  }

  @include _320 {
    height: 90vh;
  }

  @include _768 {
    padding: 0;
    height: 90vh;
  }

  @include _1024 {
    height: 90vh;
  }

  &__dazn-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }

  &__dazn-img {
    width: 50px;
    height: 50px;

    @include _768 {
      width: 75px;
      height: 75px;
    }

    @include _1024 {
      width: 100px;
      height: 100px;
    }
  }

  &__promo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    @include _1024 {
      margin-bottom: 50px;
    }
  }

  &__promo-img {
    width: calc(602px / 2);
    height: calc(212px / 2);

    @include _768 {
      width: calc(602px / 1.5);
      height: calc(212px / 1.5);
    }

    @include _1024 {
      width: 602px;
      height: 212px;
    }
  }

  &__promo-text {
    font-family: 'DAZNTrim-Light';
    color: $brand-white;
    margin: 0;
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 2px;
    word-spacing: 1px;
    text-align: center;

    @include _768 {
      font-size: 16px;
      line-height: 40px;
      letter-spacing: 4px;
      word-spacing: 2px;
    }

    @include _1024 {
      font-size: 20px;
      line-height: 45px;
      letter-spacing: 8px;
      word-spacing: 4px;
    }
  }


  &__banner {
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: -1;

    @include _768 {
      height: 100%;
  }
}

  &__banner-img {
    width: 100%;
    display: block;

    @include _768 {
      display: block;
  }
}

  &__inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 47px;

    > :first-child {
      justify-content: flex-end;
      order: 2;

      @include _768 {
        order: 1;
      }
    }

    > :last-child {
      justify-content: flex-start;
      order: 3;

      @include _768 {
        order: 3;
      }
    }

    @include _768 {

    }
}

  &__img-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 50%;

    @include _768 {
      width: 33%;
  }
}

  &__text-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    order: 1;
    margin-bottom: 14px;

    @include _768 {
      width: 33%;
      margin-bottom: 0;
      order: 2;
  }
}

  &__logo1 {
    margin-right: 5rem;

    @include _768 {
      margin-right: 4rem;
  }
}

  &__logo3 {
    width: 125px;
    margin-left: 5px;

    @include _768 {
      width: 9vw;
      margin-left: 3rem;
  }
}

  &__title {
    color: white;
    font-family: 'DAZNTrim-Bold';
    font-size: 41px;
    line-height: 34px;

    @include _768 {
      font-size: 57px;
      letter-spacing: 0px;
      line-height: 45px;
  }
}

  &__text {
    color: white;
    font-family: 'DAZNTrim-Bold';
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 27px;

    @include _768 {
      font-size: 20px;
      letter-spacing: 3px;
      line-height: 45px;
    }
  }

  &__link-wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 0;

    @include _768 {
      margin-bottom: 80px;
    }

    @include _1024 {
      margin-bottom: 0;
    }
  }

  &__link-text {
    text-transform: uppercase;
    font-family: 'DAZNTrim-Bold';
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
    color: $brand-yellow;
    margin: 0;
  }

  &__link {
    position: relative;
    text-transform: uppercase;
    font-family: 'DAZNTrim-Bold';
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
    color: $brand-yellow;

    &:hover {
      color: $brand-yellow;
      text-decoration: none;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background-color: $brand-yellow;
    }
  }
}