@import '../../media-mixin.scss';

$brand-yellow: #dfc358;
$brand-white: #fff;
$brand-black: #000;
$brand-border: #1b1b1b;


.header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 28px;

  &__buttons {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    z-index: 3;

    @include _768 {
      right: 3rem;
      top: 2rem;
    }
  }

  &__button {
    border-radius: 6px;
    background-color: $brand-yellow;
    color: $brand-black;
    padding: 0.5rem;
    outline: none;
  }

  .active {
    background-color: #a08216;
  }

  @include _320 {
    height: 420px;
}

  @include _768 {
    padding: 0;
    height: 100%;
}
  @include _1440 {
    height: 80vh;
}

  &__banner {
    width: 100%;
    height: 300px;
    position: relative;

    @include _768 {
      height: 100%;
  }
}

  &__banner-img {
    width: 100%;
    display: none;

    @include _768 {
      display: block;
  }

    &--mobile {
      @include _320 {
        display: block;
        width: 100%;
        height: 80%;
        object-fit: contain;
        margin: 0 auto;
    }

      @include _768 {
        display: none;
    }
  }
}

  &__inner {
    position: absolute;
    width: 100%;
    height: 4.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    top: 265px;
    // padding: 0 65px;

    > :first-child {
      justify-content: flex-end;
      order: 2;

      @include _768 {
        order: 1;
    }
  }

    > :last-child {
      justify-content: flex-start;
      order: 3;

      @include _768 {
        order: 3;
    }
  }

    @include _768 {
      top: 35.5vw;
      padding: 0;
  }
}

  &__img-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 50%;

    @include _768 {
      width: 33%;
  }
}

  &__text-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    order: 1;
    margin-bottom: 14px;

    @include _768 {
      width: 33%;
      margin-bottom: 0;
      order: 2;
  }
}

  &__logo1 {
    margin-right: 5rem;

    @include _768 {
      margin-right: 4rem;
  }
}

  &__logo3 {
    width: 125px;
    margin-left: 5px;

    @include _768 {
      width: 9vw;
      margin-left: 3rem;
  }
}

  &__title {
    color: white;
    font-size: 41px;
    line-height: 34px;

    @include _768 {
      font-size: 45px;
  }
}

  &__text {
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 27px;

    @include _768 {
      font-size: 16px;
      font-weight: normal;
      letter-spacing: 3px;
  }
}
}