@import './media-mixin.scss';
@import './variables';

@font-face {
  font-family: 'RussoOne-Regular';
  src: url('./fonts/RussoOne-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'DAZNTrim-Light';
  src: url('./fonts/DAZNTrim-Light.ttf');
}

@font-face {
  font-family: 'DAZNTrim-Bold';
  src: url('./fonts/DAZNTrim-Bold.ttf');
}

@font-face {
  font-family: 'DAZNTrim-ExtraBold';
  src: url('./fonts/DAZNTrim-ExtraBold.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.2;
  list-style: none;
}


body {
  width: 100%;
  margin: 0 auto;
  background-image: url(./assets/img/main-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'RussoOne-Regular';
}
.slick-list{
  margin-top: -100px !important;
}