@import '../../media-mixin.scss';
@import '../../variables';

.redeem-root {
  background-image: url('../../assets/img/wave-bg.png');
  background-repeat: no-repeat;
  padding: 1rem;

  @include _1024 {
    padding: 4rem;
  }

  &__error {
    display: flex;
    flex-direction: column;
    font-family: 'DAZNTrim-Bold';
    padding: 2rem 4rem;
    color: $brand-black;
    background-color: $brand-white;

    h1 {
      font-size: 50px;
      line-height: 50px;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
    }

    p {
      font-size: 30px;
      line-height: 30px;
      color: $brand-grey;
      text-align: center;
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
      text-transform: uppercase;
    }

    button {
      @include CTA;
      align-self: center;
      color: $brand-yellow;
      background-color: $brand-black;
    }
  }

  &__error-close {
    text-align: right;
    cursor: pointer;
    margin: 0;
  }

  &__button-wrapper {
    display: flex;
    flex-direction: column;

    > button {
      align-self: flex-start;
      margin-bottom: 1rem;
    }
  }

  &__btn {
    position: relative;
    background-color: transparent;
    color: $brand-white;
    border: 1px solid $brand-white;
    padding: 0.5rem 2rem;
    cursor: pointer;
    text-transform: uppercase;

    @include _1024 {
      padding: 1rem 3rem;
    }

    &:disabled {
      cursor: not-allowed;
    }

    &::before {
      position: absolute;
      left: 0.5rem;
      top: 0.5rem;
      content: "1";
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      padding: 0.5rem;
      border: 1px solid $brand-white;

      @include _1024 {
        left: 1rem;
        top: 1rem;
      }
    }

    &:active {
      background-color: $brand-yellow;
    }
  }

  &__btn-two {
    position: relative;
    background-color: transparent;
    color: $brand-white;
    border: 1px solid $brand-white;
    padding: 0.5rem 2rem;
    cursor: pointer;
    text-transform: uppercase;

    @include _1024 {
      padding: 1rem 3rem;
    }

    &:disabled {
      cursor: not-allowed;
    }

    &::before {
      position: absolute;
      left: 0.5rem;
      top: 0.5rem;
      content: "2";
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      padding: 0.5rem;
      border: 1px solid $brand-white;

      @include _1024 {
        left: 1rem;
        top: 1rem;
      }
    }

    &:active {
      background-color: $brand-yellow;
    }
  }

  &__preview {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
  }

  &__preview-header {
    padding: 1.25rem 0;
    display: flex;
    color: $brand-white;
    text-transform: uppercase;
    border-bottom: 1px solid $brand-white;
    font-size: 1.25rem;
    width: 100%;
  }

  &__preview-header-text {
    margin: 0;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px;
    font-family: 'DAZNTrim-Light';

    @include _1024 {
      font-size: 20px;
      line-height: 20px;
    }

    &--name {
      width: 100%;
    }

    &--id {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      max-width: 120px;

      @include _1024 {
        width: 100%;
        max-width: 280px;
      }
    }

    &--isRedeemed {
      width: 100%;
      max-width: 60px;
      display: flex;
      justify-content: flex-end;

      @include _1024 {
        width: 100%;
        max-width: 150px;
      }
    }
  }

  &__title {
    color: $brand-white;
    font-size: 3rem;
    line-height: 4rem;
    font-family: 'DAZNTrim-Bold';
    text-transform: uppercase;
  }

  &__modal {

    .modal-content {
      background-color: transparent;
    }

    .modal-body {
      padding: 0;
    }

    .modal-dialog {
      @include _1024 {
        max-width: 900px;
      }
    }

    &--form {

      .modal-dialog {
        @include _1024 {
          min-width: 710px;
        }
      }
    }
  }

  &__modal-head {
    position: relative;

    > .close {
      opacity: 1;
      color: $brand-white;
      position: absolute;
      right: 0;
      top: -20px;

      @include _1024 {
        right: -40px;
        top: -20px;
      }

      > span {
        font-size: 2rem;
        visibility: hidden;
      }

      &:after {
        content: '✕';
        font-size: 3rem;
        font-weight: 400;
      }

      &:hover {
        color: $brand-white;
        opacity: 1;
      }
    }
  }

  &__modal-body {
    background-color: $brand-white;
  }

  &__alert {
    padding: 36px 30px 42px;
  }

  &__alert-head {
    display: flex;
    justify-content: center;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 28px;
    text-transform: uppercase;
    font-family: 'DAZNTrim-Bold';
    margin-bottom: 24px;
    color: $brand-black;
  }

  &__alert-body {
    display: flex;
    justify-content: space-between;
    border: 1px solid $brand-grey;
    padding: 20px;

    > p {
      margin: 0;
    }
  }

  &__alert-body-text {
    text-transform: uppercase;
    font-family: 'DAZNTrim-Bold';
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
    color: $brand-black;
  }

  &__alert-body-value {
    text-transform: uppercase;
    font-family: 'DAZNTrim-Bold';
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
    color: $brand-grey;
  }
}