@import '../../media-mixin.scss';
@import '../../variables';

.register {
  //background-image: url('../../assets/img/featured-bg.png');
  //background-size: cover;
  //color: $brand-white;
  background: url('../../assets/img/registration-bg.png');
  text-align: center;
  background-size: cover;
  padding: 0 10%;
  position: relative;
  text-align: center;
  //padding: 0 1.25rem;
  position: relative;
  z-index: 2;

  @include _768 {
    padding: 0 25%;
  }

  &__title {
    font-family: 'DAZNTrim-Bold';
    text-transform: uppercase;
    background-color: $brand-white;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 3.25rem;
  }

  &__title-text {
    margin-bottom: 0;
    font-size: 1.25rem;
    color: $brand-black;

    @include _768 {
      font-size: 1.75rem;
    }
  }

  &__CTA {
    @include CTA;
    color: $brand-black;

    &:hover {
      color: $brand-black;
      text-decoration: none;
    }
  }

  &__main-content {
    padding-bottom: 1.25rem;
    padding-top: 3.25rem;

    @include _1024 {
      padding-bottom: 4.25rem;
      padding-top: 6.25rem;
    }

    p {
      font-family: 'DAZNTrim-Bold';
      text-transform: uppercase;
      color: $brand-white;
      margin: 2.5rem 0;
      font-size: 0.75rem;

      @include _768 {
        margin: 4.5rem 0;
        font-size: 1.25rem;
      }
    }
  }

  &__form {

    input {
      width: 100%;
      color: $brand-grey;
      height: 2rem;
      border: none;
      padding: 0 1rem;
      font-size: 0.75rem;
      font-family: 'DAZNTrim-Bold';
      text-transform: uppercase;
      
      &::placeholder {
        font-size: 0.75rem;
        color: $brand-grey;
      }

      &:focus {
        outline: unset;
      }

      &:nth-child(2n) {
        margin: 1.5rem 0;
      }
    }

    @include _768 {

      input {
        height: 4.5rem;
        padding: 0 1.5rem;
        font-size: 1.25rem;

        &::placeholder {
          font-size: 1.25rem;
        }
      }
    }
  }

  &__form-info {
    margin: 2rem 0;
    text-align: center;

    p, label {
      font-family: 'DAZNTrim-Light';
      font-size: 0.75rem;
      text-transform: initial;
      margin: 0;
      color: $brand-white;

      @include _768 {
        font-size: 1.25rem;
      }
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 3.5rem;

    label {
      margin-right: 1rem;
    }

    input {
      width: 1.5rem;
      min-width: 1.5rem;
      height: 1.5rem;
      padding: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 2px solid $brand-white;
      position: relative;

      &:checked {
        background-color: $brand-yellow;
        border: 1px solid $brand-black;
      }
      
      &:nth-child(2n) {
        margin: 0;
      }
    }
  }

  &__submit {

    button {
      @include CTA;
    }
  }

  &__modal {

    .modal-body {
      padding: 3rem;
    }
  }

  &__modal-content {
    background-image: url(../../assets/img/main-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid $brand-yellow;
  }

  &__modal-title {
    color: $brand-white;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  &__modal-text {
    color: $brand-white;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  &__modal-submit {
    display: flex;
    justify-content: center;

    button {
      font-size: 1.25rem;
      text-transform: uppercase;
      cursor: pointer;
      font-family: 'DAZNTrim-Bold';
      border: none;
      outline: none;
      background: $brand-yellow;
      padding: 1rem 2rem;
      letter-spacing: 0.25rem;
    }

    @include _768 {
      button {
        font-size: 1.75rem;
      }
    }
  }
}
